data/
cmake*/
output/
*.cbp
*.cmake
*.a
Makefile
CMakeFiles/
CMakeCache.txt
src/CMakeFiles/
.vscode
.git/objects/pack/pack-cadc2e7d486e7aebb3ed33e476867103b5880aa1.pack
.git/objects/pack/pack-f3f4842a79d5bed44c8bb5a5a0c42c8ce7026cc3.pack
cmake-build-debug/vi.npy
vi.npy
PNP/torch/lib/libtorch_cpu.so
PNP/torch/lib/libtorch_cuda.so
PNP/torch/lib/libtorch_so_bundle.tar.gz
PNP/build/lib/libtorch_cpu.so
PNP/build/lib/libtorch_cuda.so
PNP/build/lib/libtorch_so_bundle.tar.gz
PNP-hyperplonk.zip
